---
layout: default
---


<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}


<script type="text/javascript">
$(document).ready(function(){
var cintval = setInterval(function(){
 if($('#ifrm').length)
{
  $('#ifrm').css('height', "330px");
  $('#ifrm .mj-embedded').css('height', "330px");
  $('#ifrm .mj-embedded').css('height', "330px");
  clearInterval(cintval);
}
 
},300)
})
</script>



  <style type="text/css">
    @media (min-width: 901px) {
    .krow { width: 100%; display: table; table-layout: fixed; }
    .kcol { display: table-cell; }
    .kcoll { width: 20%; }
    .kcolc { width: 60%; }
    }
    @media (max-width: 900px) {
    .krow { width: 100%; }
    .kcoll { display: none; }
    #ifrm {padding: 0;}
    /*.colc { display: none; }*/
    }

  </style>
  <div class="krow">
    <div class="kcol kcoll"> </div>
    <div class="kcol kcolc">
      <section>
        <iframe id="ifrm" style="" scrolling="no" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/2TE1/6aY" width="100%" height="242"></iframe>
      </section>
    </div>
    <div class="kcol kcoll"> </div>
  </div>


  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}lundi{% when "Tue" %}mardi{% when "Wed" %}mercredi{% when "Thu" %}jeudi{% when "Fri" %}vendredi{% when "Sat" %}samedi{% when "Sun" %}dimanche{% else %}{{ dy }}{% endcase %} {% assign d = post.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}janv.{% when '2' %}févr.{% when '3' %}mars{% when '4' %}avr.{% when '5' %}mai{% when '6' %}juin{% when '7' %}juil.{% when '8' %}août{% when '9' %}sept.{% when '10' %}oct.{% when '11' %}nov.{% when '12' %}déc.{% endcase %} {{ post.date | date: '%Y' }}
            </p>
          </header>
          <div class="excerpt">
              <!-- {{ post.excerpt | strip_html }} -->
            {{ post.content | strip_html | truncate: "250" }}
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
